In [174]:
import pandas as pd

In [213]:
restaurant_type = pd.read_csv("Restaurant_type.csv")
restaurant_type_2 = pd.read_csv("FYP_TEMP.csv")
restaurant_type[["Type","T2","T3","T4","T5"]] = restaurant_type["Type"].str.split("|",expand = True)

restaurant_type_2["Type"] = restaurant_type["Type"].append([restaurant_type["T2"],restaurant_type["T3"],restaurant_type["T4"],restaurant_type["T5"]],ignore_index = True)

In [220]:
restaurant_type_2.dropna(inplace=True)
restaurant_type_2.drop_duplicates("Type",inplace=True)
restaurant_type_2

                 Type
0                 韓國菜
1                  港式
2                 日本菜
3             粵菜 (廣東)
5                 多國菜
9                  西式
10            川菜 (四川)
12                德國菜
15                 海鮮
16              甜品/糖水
18                 火鍋
19                印度菜
23              粉麵/米線
24                麵包店
25                自助餐
26  All Day Breakfast
29                 拉麵
30                 烤肉
31                小食店
33                 點心
34                 薄餅
36                 雞煲
37               日式放題
39                漢堡包
40                 串燒
41                 扒房
44                居酒屋
48               蒸氣火鍋
49                 咖喱
54                咖啡店
55                燒烤場
56                 酒吧
63                 酒樓

In [346]:
restaurant_type = pd.read_excel("Restaurant.xlsx",index_col="restaurant_id")
rest_type = pd.read_excel("Restaurant_TYPE.xlsx")
FYP_type = pd.read_excel("FYP_TYPE.xlsx")
restaurant_type[["T1","T2","T3","T4","T5"]] = restaurant_type["cat"].str.split("|",expand = True)
restaurant_type.pop("cat")
restaurant_type

                    T1                 T2    T3    T4    T5
restaurant_id
r432900            韓國菜                 海鮮    烤肉  None  None
r112297             港式              甜品/糖水   小食店  None  None
r493317            日本菜               None  None  None  None
r461807        粵菜 (廣東)                 火鍋    點心  蒸氣火鍋    酒樓
r493121        粵菜 (廣東)                印度菜    薄餅    咖喱  None
r498851            多國菜               None  None  None  None
r127845             港式                 火鍋    雞煲  None  None
r498245            日本菜                 火鍋  日式放題  None  None
r11734              港式              粉麵/米線  None  None  None
r449743             西式                麵包店   漢堡包   咖啡店  None
r46984         川菜 (四川)                自助餐    串燒   燒烤場  None
r513532            多國菜  All Day Breakfast    扒房    酒吧  None
r105135            德國菜               None  None  None  None
r482957        川菜 (四川)                 火鍋    雞煲  None  None
r192373            日本菜                 拉麵   居酒屋  None  None

In [323]:
def replacement(x):
    rest_type = pd.read_excel("Restaurant_TYPE.xlsx")
    for y in range(0,33):
        if (x == rest_type.iloc[y,1]):
            return rest_type.iloc[y,0]
        else:
            continue

In [351]:
abc = restaurant_type["T1"].apply(replacement)
abc = abc.append(restaurant_type["T2"].apply(replacement))
abc = abc.append(restaurant_type["T3"].apply(replacement))
abc = abc.append(restaurant_type["T4"].apply(replacement))
abc = abc.append(restaurant_type["T5"].apply(replacement))
abc.dropna(inplace=True)
FYP_type["ID"] = abc.index
FYP_type["Type_ID"] = abc.values

In [354]:
FYP_type.set_index("ID")

        Type_ID
ID
r432900    A001
r112297    A002
r493317    A003
r461807    A004
r493121    A004
r498851    A005
r127845    A002
r498245    A003
r11734     A002
r449743    A006
r46984     A007
r513532    A005
r105135    A008
r482957    A007
r192373    A003
r432900    A009
r112297    A010
r461807    A011
r493121    A012
r127845    A011
r498245    A011
r11734     A013
r449743    A014
r46984     A015
r513532    A016
r482957    A011
r192373    A017
r432900    A018
r112297    A019
r461807    A020
r493121    A021
r127845    A022
r498245    A023
r449743    A024
r46984     A025
r513532    A026
r482957    A022
r192373    A027
r461807    A028
r493121    A029
r449743    A030
r46984     A031
r513532    A032
r461807    A033